.whyUsDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.whyUsText {
  /* TODO: Add the blur to the bottom border */
  border-bottom: 3px solid #F66D25;
  color: #FFFEEC;
  font-family: 'Inter';
  font-size: 1.9375rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  width: 30%;
}

.sectionDiv {
  display: flex;
  flex-direction: row;
}

.sectionNoImgDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sectionNum {
  color: #FFFEEC;
  font-size: 6rem;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-weight: bold;
  margin-top: 0;
}

.sectionNoNumDiv {
  display: flex;
  flex-direction: column;
  /* FIXME: The text must be centralized with the image */
  /* justify-content: center; */
  margin-left: 4rem;
  width: 56%;
}

.sectionTitle {
  color: #F66D25;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.sectionText {
  color: #FFFEEC;
  font-size: 1.3rem;
}