.errorBody {
  align-items: center;
  color: #FFFEEC;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  position: fixed;
  width: 100%;
}

.errorNumber {
  font-size: 6rem;
  margin-bottom: 0;
}

.errorInfo {
  font-size: 1.5rem;
}

.toHome {
  border-radius: 20px;
  border-color: #F66D25;
  border-bottom: 1px solid #F66D25;
  border-right: 1px solid #F66D25;
  background-color: #F66D25;
  color: #FFFEEC;
  cursor: pointer;
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.8rem;
  margin-top: 5rem;
}