@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica-Bold';
  src: url('../fonts/Geologica-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

/* Relativity and Absoluteness */
.relativity {
  position: relative;
}

.absoluteness {
  position: absolute;
}

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Desktop and mobile <br> */
@media(min-width: 767px) {
  .mobileBr {
    display: none;
  }
}

@media(max-width: 767px) {
  .desktopBr {
    display: none;
  }
}